{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "prettier"],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "@babel/eslint-parser"
}
